.App {
  width:100%;
}

.card {
  text-align: center;
}

.search-bar {
  width:300px;
  margin: 0 auto;
}

.food-list-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction:column;
}

.food-list {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.form {
  width: 300px;
  margin: 0 auto;
}